.Spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.Spinner--sm {
  width: 16px;
  height: 16px;
}

.Spinner--md {
  width: 32px;
  height: 32px;
}

.Spinner--lg {
  width: 64px;
  height: 64px;
}

.Spinner__loader {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #b94517;
  border-radius: 50%;
  animation: Spinner__loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #b94517 transparent transparent transparent;
}

@keyframes Spinner__loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
